{% extends 'base.html' %}

{% block titulo %}Acerca de - ForoToronja{% endblock %}

{% block contenido %}
    <h1>Acerca de</h1>
    <h2>Jonathan Silvera</h2>
    <div class='contenedor'>
    <p>¡Hola! Mi nombre es Jonathan Silvera, tengo 28 años y soy un apasionado del desarrollo y la tecnología. Este proyecto, ForoToronja, es parte de mi curso de Python en CoderHouse, donde estoy aprendiendo a crear aplicaciones web dinámicas y funcionales utilizando Django.
    
    Desde que comencé mi viaje en el mundo de la programación, he descubierto un gran interés por resolver problemas, crear soluciones innovadoras y mejorar mis habilidades día a día. Este proyecto es un reflejo de ese esfuerzo y dedicación, donde he aplicado todo lo aprendido para construir una plataforma interactiva y útil.
    
    Mi objetivo es seguir creciendo como desarrollador, explorando nuevas tecnologías y contribuyendo a proyectos que tengan un impacto positivo en la comunidad. ¡Gracias por visitar ForoToronja y ser parte de este viaje!.</p>
</div>
    {% endblock %}